{% extends "base.html" %}

{% block content %}
    <h1>Student</h1>
    <b>Name of student:</b> {{ object.name }} {{ object.last_name }}<br>
    <b>University:</b> {{ object.university }}<br>
    <b>Department:</b> {{ object.department }}<br>
    <b>Profile:</b> {{ object.profile }}<br>
    <b>City:</b> {{ object.city }}<br>
    <b>Index:</b> {{ object.index }}<br>
    <b>Deficit:</b> {{ object.deficit }}<br>
    <b>Status:</b> {{ object.status }}<p>
    <a href="http://127.0.0.1:8000/student/{{ object.id }}/update">Update</a>
    <a href="http://127.0.0.1:8000/student/{{ object.id }}/delete">Delete</a>
    <a href="../">Back to list</a>
</p>
{% endblock %}